/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: 006, 056, 047;
    --card: 011, 122, 106;
    --theme: 020, 152, 139;
    --back: 222, 255, 254;
    --black: 030, 030, 030;
    --white: 255, 255, 255;
    --graylight: 217, 217, 217;
    --graydark: 187, 186, 186;
    --error: 156, 020, 020;
    --redback: 255, 194, 194;
    --grayback: 187, 186, 186, 50;
    --red: 195, 031, 092;
    --blue: 043, 116, 185;
    --yellow: 043, 116, 185;
    --green: 105, 160, 066;
    --orange: 245, 124, 031;
  }

  :root.dark {
    --dark: 012, 078, 066;
    --card: 012, 078, 066;
    --theme: 020, 152, 139;
    --back: 012, 078, 066;
    --black: 030, 030, 030;
    --white: 217, 217, 217;
    --graylight: 217, 217, 217;
    --graydark: 187, 186, 186;
    --error: 156, 020, 020;
    --redback: 255, 194, 194;
    --grayback: 187, 186, 186, 50;
    --red: 195, 031, 092;
    --blue: 043, 116, 185;
    --yellow: 043, 116, 185;
    --green: 105, 160, 066;
    --orange: 245, 124, 031;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --dark: 012, 078, 066;
      --card: 012, 078, 066;
      --theme: 020, 152, 139;
      --back: 012, 078, 066;
      --black: 030, 030, 030;
      --white: 217, 217, 217;
      --graylight: 217, 217, 217;
      --graydark: 187, 186, 186;
      --error: 156, 020, 020;
      --redback: 255, 194, 194;
      --grayback: 187, 186, 186, 50;
      --red: 195, 031, 092;
      --blue: 043, 116, 185;
      --yellow: 043, 116, 185;
      --green: 105, 160, 066;
      --orange: 245, 124, 031;
    }
  }
}

:root.dark body {
  background-color: var(--black);
}
